tr[data-href] {
    cursor: pointer;
}

/*input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}*/

/*Alert*/
@layer components {
    .alert {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 50;
        text-align: center;
    }

    .alert.hide {
        display: none;
    }
  }

/*Form*/
.error {
    border: 3px solid red;
}

.asteriskField {
    display: none;
}

.textinput{
    background-color: red;
}

/*PopUp*/
.modal {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 8px;
  }
  