<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/cf74f9215b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Htmx-->
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>

    <title>{% block title %}VOV Service Consult{% endblock title %}</title>

</head>

<body class="bg-slate-100">
    
    <!--<div class="alert">
        <ul class="py-2 px-4 bg-green-500 rounded shadow text-white">
            <li class="">Ola o meu nome é Dinisberto Coelhomes</li>
        </ul>
    </div>-->

<!-- component https://tailwindcomponents.com/component/responsive-navabr-->
<style>
    #menu-toggle:checked + #menu {
           display: block;
         }

    img{
        max-height: 40px;
    }
</style>

    <div class="antialiased bg-gray-400 drop-shadow-md">
        <header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">
            <div class="flex-1 flex justify-between items-center">
                <a href="/">
                    {#TODO CHANGE TO VOV LOGO#}
                    <img src="{% static 'img/vov-logo.png' %}" alt="My image">
                </a>
            </div>
    
            <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
            <input class="hidden" type="checkbox" id="menu-toggle" />
    
            <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
                <nav>
                    <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
                        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400" href="/">Home</a></li>
                        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400" href="#">Time Report</a></li>
                        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400" href="#">Users</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 lg:mb-0 mb-2" href="{% url 'account_logout' %}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
                        {% else %}
                            <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 lg:mb-0 mb-2" href="{% url 'account_login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <div class="alert">
        {% if messages %}
            <ul class="py-2 px-4 bg-green-500 rounded shadow text-white">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="w-full h-full mt-10">
        {% block body %}{% endblock body %}
    </div>

</body>

<!--Devolopment only Install Tailwind for production-->
<script src="https://cdn.tailwindcss.com"></script>

<script src="{% static 'js/main.js' %}"></script>

</html>