<h2>Create Project</h2>
<form method="POST" action="{% url 'projects:create' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Create">
</form>

<!--<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add Project</h5>
    </div>
    <div class="modal-body">
      {{ form.as_p }}
    </div>
    <div class="modal-footer">
      <button type="button" data-bs-dismiss="modal">Cancel</button>
      <button type="submit">Save</button>
    </div>
</form>-->