<h1>Update Project</h1>
<div id="non-field-errors"></div>
<form action="{% url 'projects:edit' project.pk %}" method="post">
  {% csrf_token %}
  <div class="form-section" id="section1">
    <div class="form-group">
        <label for="code1">Code 1</label>
        <input type="text" class="form-control" id="code1" name="code1" maxlength="5" value="{{ project.code1 }}">
      </div>
    
      <div class="form-group">
        <label for="code2">Code 2</label>
        <input type="text" class="form-control" id="code2" name="code2" maxlength="4" value="{{ project.code2 }}">
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="project_name" name="project_name" value="{{ project.project_name }}">
      </div>
    
      <div class="form-group">
        <label for="manager">Manager</label>
        <select class="form-control" id="manager" name="manager">
            {% for user in users %}
                <option value="{{ user.pk }}" {% if project.manager == user %}selected{% endif %}>{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    
    
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description">{{ project.description }}</textarea>
      </div>
    
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type">
          <option value="1">External project</option>
          <option value="2">Commencement driver assignment</option>
          <option value="3">Current accoutn</option>
          <option value="4">Internal project</option>
          <option value="5">Internal assignment</option>
          <option value="6">Master thesis</option>
          <option value="7">Service Ongoing</option>
          <option value="8">Short-term leave of absence skills development</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="is_external">Is External</label>
        {% if project.is_external %}
          <input type="checkbox" class="form-control" id="is_external" name="is_external" checked>
        {% else %}
          <input type="checkbox" class="form-control" id="is_external" name="is_external">
        {% endif %}
      </div>
    
      <div class="form-group">
        <label for="is_rd">Is it research and development project ?</label>
        <select class="form-control" id="is_rd" name="is_rd">
            <option value="1">Not</option>
            <option value="2">Research</option>
            <option value="3">Development</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" class="form-control" id="id_start_date" name="start_date" value="{{ project.start_date|date:'Y-m-d' }}">
      </div>
    
      <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="date" class="form-control" id="id_end_date" name="end_date" value="{{ project.end_date|date:'Y-m-d' }}">
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status">
          <option value="1">Not started</option>
          <option value="2">Ongoing</option>
          <option value="3">Completed</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="payment">Payment</label>
        <select class="form-control" id="payment" name="payment">
          <option value="1">Current account</option>
          <option value="2">Fixed cost 30</option>
          <option value="3">Fixed cost 50</option>
          <option value="4">Fixed cost 100</option>
          <option value="5">Not billable</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="visibility">Visibility</label>
        <select class="form-control" id="visibility" name="visibility">
          <option value="1">Visible only to the member of the project</option>
          <option value="2">Visible to everyone</option>
        </select>
      </div>
  </div>
  <div class="form-section" id="section2" style="display: none;">    
      <div class="form-group">
        <label for="travel_time">Travel Time</label>
        <input type="number" class="form-control" id="travel_time" name="travel_time" value="{{ project.travel_time }}">
      </div>
    
      <div class="form-group">
        <label for="long_time">Long Time</label>
        <input type="number" class="form-control" id="long_time" name="long_time" value="{{ project.long_time }}">
      </div>
    
      <div class="form-group">
        <label for="extra_time">Extra Time</label>
        <input type="number" class="form-control" id="extra_time" name="extra_time" value="{{ project.extra_time }}">
      </div>
    
      <div class="form-group">
        <label for="weekend_time">Weekend Time</label>
        <input type="number" class="form-control" id="weekend_time" name="weekend_time" value="{{ project.weekend_time }}">
      </div>
    
      <div class="form-group">
        <label for="night_time">Night Time</label>
        <input type="number" class="form-control" id="night_time" name="night_time" value="{{ project.night_time }}">
      </div>
  </div>
  <div class="form-section" id="section3" style="display: none;">
    <p>{{ form.client.label_tag }} {{ form.client }}</p>
    <div class="form-group">
        <label for="client_name">Client Name</label>
        <input type="text" class="form-control disable-on-select" id="id_client_name" name="client_name" value="{{ project.client.client_name }}" maxlength="254">
    </div>

    <div class="form-group">
        <label for="tax_id">Tax ID</label>
        <input type="number" class="form-control disable-on-select" id="id_tax_id" name="tax_id" value="{{ project.client.tax_id }}">
    </div>

    <div class="form-group">
        <label for="reference">Reference</label>
        <input type="number" class="form-control disable-on-select" id="id_reference" name="reference" value="{{ project.client.reference }}">
    </div>

    <div class="form-group">
        <label for="purchase_num">Purchase Number</label>
        <input type="number" class="form-control disable-on-select" id="id_purchase_num" name="purchase_num" value="{{ project.client.purchase_num }}">
    </div>

    <div class="form-group">
        <label for="project_value">Project Value</label>
        <input type="number" class="form-control disable-on-select" id="id_project_value" name="project_value" value="{{ project.client.project_value }}">
    </div>

    <div class="form-group">
        <label for="hour_value">Hour Value</label>
        <input type="number" class="form-control disable-on-select" id="id_hour_value" name="hour_value" value="{{ project.client.hour_value }}">
    </div>

    <div class="form-group">
        <label for="extra_costs">Extra Costs</label>
        <input type="number" class="form-control disable-on-select" id="id_extra_costs" name="extra_costs" value="{{ project.client.extra_costs }}">
    </div>

    <div class="form-group">
        <label for="payment_days">Payment Days</label>
        <select class="form-control disable-on-select" id="id_payment_days" name="payment_days">
            <option value="1" {% if project.client.payment_days == '1' %}selected{% endif %}>Immediate</option>
            <option value="2" {% if project.client.payment_days == '2' %}selected{% endif %}>30 Days</option>
            <option value="3" {% if project.client.payment_days == '3' %}selected{% endif %}>60 Days</option>
            <option value="4" {% if project.client.payment_days == '4' %}selected{% endif %}>120 Days</option>
        </select>
    </div>

    <div class="form-group">
        <label for="type_vat">Type VAT</label>
        <select class="form-control disable-on-select" id="id_type_vat" name="type_vat">
            <option value="1" {% if project.client.type_vat == '1' %}selected{% endif %}>Intermédio (13%)</option>
            <option value="2" {% if project.client.type_vat == '2' %}selected{% endif %}>Isento de IVA</option>
            <option value="3" {% if project.client.type_vat == '3' %}selected{% endif %}>IVA Autoliquidação</option>
            <option value="4" {% if project.client.type_vat == '4' %}selected{% endif %}>Normal (23%)</option>
            <option value="5" {% if project.client.type_vat == '5' %}selected{% endif %}>Reduzida (6%)</option>
        </select>
    </div>
  </div>
  <div class="form-section" id="section4" style="display: none;">
    <div id="activity-list">
      {% for activity in activities %}
          <div class="activity-item">
              <span>{{ activity.activity_name }}</span>
              <button class="delete-activity">x</button>
          </div>
      {% endfor %}
    </div>
    {{ form.activity_forms.management_form }}
    {% for activity in activities %}
      <div class="activity-form" style="display: none;">
          <p>
            <label for="id_activity-{{ forloop.counter0 }}-activity_name">Activity Name</label>
            <input type="text" id="id_activity-{{ forloop.counter0 }}-activity_name" name="activity-{{ forloop.counter0 }}-activity_name" maxlength="255" value="{{ activity.activity_name }}">
          </p>
          <p>
            <label for="id_activity-{{ forloop.counter0 }}-description">Description</label>
            <textarea id="id_activity-{{ forloop.counter0 }}-description" cols="40" rows="10" name="activity-{{ forloop.counter0 }}-description">{{ activity.description }}</textarea>
          </p>
          <p>
            <label for="id_activity-{{ forloop.counter0 }}-responsible">Responsible</label>
            <select id="id_activity-{{ forloop.counter0 }}-responsible" name="activity-{{ forloop.counter0 }}-responsible">
                {% for user in users %}
                  <option value="{{ user.pk }}" {% if activity.responsible == user %}selected{% endif %}>{{ user.username }}</option>
                {% endfor %}
            </select>
          </p>
          <p>
            <label for="id_activity-{{ forloop.counter0 }}-participants">Participants</label>
            <select multiple id="id_activity-{{ forloop.counter0 }}-participants" name="activity-{{ forloop.counter0 }}-participants">
                {% for user in users %}
                  <option value="{{ user.pk }}" {% if user in activity.participants.all %}selected{% endif %}>{{ user.username }}</option>
                {% endfor %}
            </select>
          </p>
      </div>
    {% endfor %}
    <div class="activity-form">
      <p>
          <label for="id_activity-{{ activities|length }}-activity_name">Activity Name</label>
          <input type="text" class="form-control" id="id_activity-{{ activities|length }}-activity_name" name="activity-{{ activities|length }}-activity_name">
      </p>
      <p>
          <label for="id_activity-{{ activities|length }}-description">Description</label>
          <textarea class="form-control" id="id_activity-{{ activities|length }}-description" name="activity-{{ activities|length }}-description"></textarea>
      </p>
      <p>
          <label for="id_activity-{{ activities|length }}-responsible">Responsible</label>
          <select class="form-control" id="id_activity-{{ activities|length }}-responsible" name="activity-{{ activities|length }}-responsible">
            <option value="" selected="">---------</option>
            {% for user in users %}
              <option value="{{ user.pk }}">{{ user.username }}</option>
            {% endfor %}
          </select>
      </p>
      <p>
          <label for="id_activity-{{ activities|length }}-participants">Participants</label>
          <select multiple class="form-control" id="id_activity-{{ activities|length }}-participants" name="activity-{{ activities|length }}-participants">
            {% for user in users %}
              <option value="{{ user.pk }}">{{ user.username }}</option>
            {% endfor %}
          </select>
      </p>
    </div>
    <button type="button" id="add-activity">Add Activity</button>
  </div>

  <!--Buttons-->
  <button type="button" id="prevBtn" style="display:none;">Previous</button>
  <button type="button" id="nextBtn">Next</button>
  <button type="button" id="closeModalBtn">Cancel</button>
  <input type="submit" value="Update" style="display: none;">

</form>